body{
    width:100%;
    background:#ebc9cb;
}
.box{
    position:relative;
    width:1100px;
    height:500px;
    margin:auto;
}
ul{
    position:absolute;
    width:70%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    padding:0;
}
ul li{
    list-style:none;
    margin:0 10px;
    width:33%;
}
ul li a{
    text-decoration:none;
    display:block;
    width:100%;
    transition:0.5s;
    box-shadow:-15px 15px 10px rgba(0,0,0,0.5);
}
ul li a:hover{
    box-shadow:-50px 50px 50px rgba(0,0,0,0.5);
}
.card{
    background-image:url(images/photoframe3.jpg);
    width:236px;
    height:169px;
}
img{
    width:79%;
    margin-top:27px;
    height:70%;
    margin-left:25px;
}
.bookshelf{
    position:absolute;
    height:30%;
    width:100%;
    bottom:10%;
    z-index:-1;
}
.bookshelf .one{
    height:100%;
    width:100%;
    position:absolute;
    background:#b97270;
    transform:perspective(500px) rotateX(45deg);
    bottom:25%;
    transform-origin:bottom;
}
.bookshelf .two{
    height:25%;
    width:100%;
    position:absolute;
    background:#aa6361;
    bottom:0%;
    box-shadow: -5px 18px 15px rgba(0,0,0,0.5);
}